---
export async function getStaticPaths() {
   return [
     { params: { slug : "67e1a7c3eeac3c38089743b2" }},
     { params: { slug : "67e1c038eeac3c38089743b4" }},
     { params: { slug : "67e22d82eeac3c38089743b8" }},
     { params: { slug : "67e22ebaeeac3c38089743bb" }},
     { params: { slug : "67e2d082eeac3c38089743c4" }},
     { params: { slug : "67e2d390eeac3c38089743d9" }},
     { params: { slug : "67e2def4eeac3c38089743ff" }},
   ];
}
let my = [
     "67e1a7c3eeac3c38089743b2",
     "67e1c038eeac3c38089743b4",
     "67e22d82eeac3c38089743b8",
     "67e22ebaeeac3c38089743bb",
     "67e2d082eeac3c38089743c4",
     "67e2d390eeac3c38089743d9",
     "67e2def4eeac3c38089743ff",
]
  const { id } = Astro.props;
  console.log(Astro.props)
  ---
<div>Good dog, </div>
<div>
  {Astro.props}
</div>
  