---

---
<div class="md:flex mx-auto max-w-md overflow-hidden rounded-xl bg-white shadow-md md:max-w-2xl" >
    <img class="mx-auto max-w-sm overflow-hidden rounded-xl shadow-sm] md:max-w-2xl" src="navbar.png" alt="navbar.png" />
</div>


<header class="bg-green-800 h-auto overflow-hidden mx-auto rounded-sm shadow-md  ">
  <ul class="flex text-4xl sm:flex-row justify-between  text-center   sm:text-lg font-semibold">
    <li class="text-white">MERN Social</li>
    <li  class=" hover:bg-indigo-500 ">
      <a href="/">
          &#x1f3e1;
      </a>
    </li>
    <li class="text-white hover:bg-indigo-500 uppercase">
      <a href="/signup">
         Sign up
    </a>
    </li>
    <li class=" hover:bg-indigo-500  uppercase text-white">
      <a href="/signin"
        >Sign In</a
      >
    </li>
  </ul>
</header>
