---

---

<img class="mx-auto max-w-md" src="navbar.png" alt="navbar.png" />
<header class="flex-col mx-auto max-w-md bg-green-700 h-auto">
  <div class="flex-col mt-6 ml-6 text-1xl content-center gap-x-6">
    <p class="text-white text-1xl">MERN Social</p>
    <a href="/">
      <button
        class="font-semibold hover:bg-indigo-500 text-2xl"
        type="button"
        aria-label="Home">
        &#x1f3e1;
        </button></a>
    <span
      ><a href="/signup"
        ><button class="font-semibold text-white hover:bg-indigo-500"
          >Sign up</button
        ></a
      ><a href="/signin"
        ><button
          class="rounded-md px-3 py-2 font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >Sign In</button
        ></a
      ></span
    >
  </div>
</header>
