---

---

<!-- #009688; -->
<header class="   ">
  <ul class="bg-[#009688] pl-2 text-white flex flex-wrap  justify-evenly text-3xl  text-center sm:text-lg sm:text-left   font-semibold">
    <li class="border-1 px-2 ">MERN Social</li>
    <li  class=" hover:bg-indigo-500 ">
      <a class="text-naranja" href="/">
          &#x1f3e1;M
      </a>
    </li>
    <li class="border-1 px-2 hover:bg-indigo-500 uppercase">
      <a href="/signup">
         Sign up
    </a>
    </li>
    <li class="border-1 px-2    uppercase">
      <a class="hover:bg-indigo-500" href="/signin"
        >Sign In</a
      >
    </li>
    <li class="border-1 px-2 uppercase ">
      <a href="/getAll"
        >List All</a
      >
    </li>
    <li class="border-1 px-2  hover:bg-indigo-500  uppercase">
      <a href="/getAll/67e1a7c3eeac3c38089743b2"
        >List One</a
      >
    </li>
  </ul>

</header>
