---
// https://nucleoapp.com/blog/post/change-svg-color-css
---
<style>
    img, svg {width: 40px;}
</style>
<div class= p-4>
    <div class="border-l border-gray-200 p-4">
        <div class="m-2">
            <h2 class="text-tahiti">Newsfeed</h2>
        </div>
        <div class="border-2 border-gray-200">
            <div class="">
                <div class="flex text-semibold bg-gray-200">
                    <div class="p-3">
                        <img src="http://locaLhost:3000/api/users/photo/67e1a7c3eeac3c38089743b2" />
                    </div>
                    <div class=" pl-4 ">
                        NARANJA
                    </div>
                </div>
                <div class="">
                    <div class="">
                        <textarea aria-invalid="false" placeholder="Share your thoughts ..." rows="3" class="w-full border-b-2 border-gray-200"></textarea>
                    </div>
    
                    <input accept="image/*" class="hidden" id="icon-button-file" type="file">
                    <label for="icon-button-file">
                        <svg class="" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M9 2L7.17 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2h-3.17L15 2H9zm3 15c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z">
                            </path>
                        </svg>
                    </label> 
                </div>
            </div>
            <div class=""><button
                    class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-gray shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
                    type="button">POST</button>
            </div>
        </div>
    </div>
</div>
<div class="pt-2">
<ul class="bg-[#009688] pl-2 text-white flex flex-wrap  justify-evenly text-1xl  text-center sm:text-lg sm:text-left   font-semibold">
    <li class="border-1 px-2 uppercase ">MERN social</li>
    <li class="border-1 px-2 uppercase ">M</li>
    <li class="border-1 px-2 uppercase ">sign up</li>
    <li class="border-1 px-2 uppercase ">sign in</li>
    <li class="border-1 px-2 uppercase ">list all</li>
    <li class="border-1 px-2 uppercase ">list one</li>
  </ul>
</div>
<div class=" w-98 p-10 MuiPaper-root MuiCard-root makeStyles-card-16 MuiPaper-elevation1 MuiPaper-rounded">
    <p class="text-tahiti MuiTypography-root makeStyles-title-17 MuiTypography-body1" type="title">Newsfeed</p>
    <hr class="MuiDivider-root">
    <div class="pt-4 pb-6 makeStyles-root-19">
        <div class="bg-gray-200 py-10 MuiPaper-root MuiCard-root makeStyles-card-20 MuiPaper-elevation1 MuiPaper-rounded">
            <div class="flex bg-gray-300 px-4 py-2 MuiCardHeader-root makeStyles-cardHeader-22">
                <div class="MuiCardHeader-avatar">
                    <div class="MuiAvatar-root MuiAvatar-circle"><img src="http://locaLhost:3000/api/users/photo/67e1a7c3eeac3c38089743b2"
                            class="MuiAvatar-img"></div>
                </div>
                <div class="MuiCardHeader-content"><span
                        class="px-4 MuiTypography-root MuiCardHeader-title MuiTypography-body2 MuiTypography-displayBlock">NARANJA</span>
                </div>
            </div>
            <div class="bg-white p-6 MuiCardContent-root makeStyles-cardContent-21">
                <div class="MuiFormControl-root MuiTextField-root makeStyles-textField-25 MuiFormControl-marginNormal">
                    <div
                        class="MuiInputBase-root MuiInput-root MuiInput-underline MuiInputBase-formControl MuiInput-formControl MuiInputBase-multiline MuiInput-multiline">
                        <textarea aria-invalid="false" placeholder="Share your thoughts ..." rows="3"
                            class="w-full border-b-2 border-gray-200 MuiInputBase-input MuiInput-input MuiInputBase-inputMultiline MuiInput-inputMultiline"></textarea>
                    </div>
                </div><input accept="image/*" style="display:none" class="makeStyles-input-24" id="icon-button-file" type="file"><label
                    for="icon-button-file"><span
                        class="MuiButtonBase-root MuiIconButton-root makeStyles-photoButton-23 MuiIconButton-colorSecondary"
                        tabindex="0" role="button" aria-disabled="false"><span class="MuiIconButton-label"><svg
                                class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                                <circle cx="12" cy="12" r="3.2"></circle>
                                <path fill='orange'
                                    d="M9 2L7.17 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2h-3.17L15 2H9zm3 15c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z">
                                </path>
                            </svg></span><span class="MuiTouchRipple-root"></span></span></label> <span
                    class="makeStyles-filename-27"></span>
            </div>
            <div class="p-4 MuiCardActions-root MuiCardActions-spacing"><button
                    class="rounded-lg  shadow bg-gray-400 p-4 MuiButtonBase-root MuiButton-root MuiButton-contained makeStyles-submit-26 MuiButton-containedPrimary Mui-disabled Mui-disabled"
                    tabindex="-1" type="button" disabled=""><span class="MuiButton-label">POST</span></button></div>
        </div>
    </div>
    <hr class="MuiDivider-root">
    <div style="margin-top: 24px;">
        <svg
                                class="MuiSvgIcon-root" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                                <circle cx="12" cy="12" r="3.2"></circle>
                                <path
                                    d="M9 2L7.17 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2h-3.17L15 2H9zm3 15c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z">
                                </path>
                            </svg>
    </div>
</div>